.git
.github
.idea
.vscode
.venv
.venv-api
__pycache__
*.py[cod]
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache

api_data
data
outputs
uploads
test
design
ui
gui.py

*.log
*.tmp
.DS_Store

backend/ffmpeg/macos
backend/ffmpeg/win_x64
